.numbers{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 75px);
  padding: 30px;
  row-gap: 5px;
}
.numpad{border: 3px solid rgb(82 9 255);
}


.clearance{
  display:flex;
  justify-content: center;
  gap: 39px;
  padding-top: 10px;
}
.sp{
  display: flex;
  height: auto;
  width: 124px;
  padding-inline: 56px;
 justify-content: center;
 align-items: center;
 font-size: 30px;
 color: rgb(147 0 255);
 background-color: black;
}
.ind{
  display: flex;
  padding: 28px;
  height: 15px;;
  width: 8px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  font-size: -webkit-xxx-large;
  color: rgb(147 0 255);
  background-color: black;
}
#result{
  padding-right: 50px;
  font-size: -webkit-xxx-large;
}
body{
    color: rgb(147 0 255);
    background-color:black;
}
.container{
  padding: 50px;
  width: 10cm;
  justify-content: center;
}
.display{
  border:3px solid rgb(82 9 255);
  padding:20px; 
  width: 331.938px;
  text-align: right;
  word-wrap: break-word;
}
.contain{
  display: flex;
  justify-content: center;
}
h1{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: 200;
}

/*numberBtns.forEach((button)=> button.addEventListener("click", event=>displayNum(button.textContent)));
const displayNum=function(number){
  if(display.innerHTML===0){display.innerHTML=""}
  display.innerHTML=+ number;
}